		<!-- ========================================== -->
		<nav id="footer" class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="pull-left fnav">
					<p>© 2016, <a href="mailto:eft.tbt@gmail.com">Isabelle Levrat</a> | Webmaster <a href="mailto:nicolas.jeanmonod@bluewin.ch">Nicolas Jeanmonod</a></p>
				</div>
				<div class="pull-right fnav">
					<ul class="footer-social">
						<li><a href="https://www.facebook.com/EFT-TBT-groups-1520668418256046/?fref=ts"><i class="fa fa-facebook"></i></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.1.11.1.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/SmoothScroll.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.isotope.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>

		<!-- Javascripts
		================================================== -->
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/targetBlank.min.js"></script>
